.jumbotron{
  height: 250px;
  margin: 0px;
  padding: 30px;
  background-image: url("asset/IMG_3.jpg");
  background-size: cover;
  color: white;

  p{
    font-family: 'Monda', sans-serif;
    font-size: 30px;
  }
}