.main{
  height: 100%;
  width: 100%;
  x-overflow: hidden;
  background-color: #efefef;

  .main-navbar{
    margin: 0px;
    height: 51px;
  }

  .main-jumbotron{
    margin: 0px;
  }

  .main-overview{
    
  }


  .main-detail-intro{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
  }

  .main-contact-me{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-bottom-navbar{
    margin-top: 30px;
  }
}