.simple-marker{
  position: absolute;
  border: 5px solid #f44336;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  color: #3f51b5;
  font-size: 16;
  font-weight: bold;
  padding: 4;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover{
    transform: scale(1.5);
  }
}